{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a href="{% url 'tutor-account' %}"><img src="{% static 'images/default-image/previous.png' %}" style="max-width: 30px;"/></a>
            <h2>Edit {{user.username|capfirst}}'s Profile</h2>
            <br>

            <form class="form" method="POST" action="{% url 'edit-taccount'%}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in tutorform %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {% if field.name == 'profile_image' %}
                        <div class="custom-file">
                            {{field}}
                        </div>
                    {% else %}
                        {{field}}
                    {% endif %}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock content %}
