{% load static %}
 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="footer-about">
                <h5>About Tutor Hub</h5>
                <p>Discover a new world of personalized online tuition at the Online Tutor Hub. Our exceptional tutors are dedicated to providing tailored instruction that elevates grades and cultivates confidence. Experience a transformative learning environment that caters to your individual needs, helping you achieve academic excellence and unlock your full potential.</p>
          </div>  

          <div class="footer-contact">
            <h4>Tutor Hub</h4>
            <p>
              1 Natheem Street <br>
              City London, KT1 KU7<br>
              United Kingdom <br><br>
              <strong>Phone:</strong> +44 770 7329 908<br>
              <strong>Email:</strong> info@tutorhub.co.uk<br>
            </p>
          </div>

          <div class="footer-links">
            <h4>Company</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Features</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Career</a></li>
            </ul>
          </div>

          <div class="footer-links">
            <h4>Help</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Customer Support</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy Policy</a></li>
          </div>

          <div class="footer-links2">
            <h4>Our Social Networks</h4>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> -->
            <p>Stay connected with us on social media for the latest updates, exciting news, and behind-the-scenes insights about our website and offerings.</p>
            <div class="social-links">
                <img src="{% static 'images/footer-socials-logo/twitter.svg' %}" alt="Twitter" <a href=""></a>
                <img src="{% static 'images/footer-socials-logo/facebook.svg' %}" alt="Facebook" <a href=""></a> 
                <img src="{% static 'images/footer-socials-logo/instagram.svg' %}" alt="Instagram" <a href=""></a> 
                <img src="{% static 'images/footer-socials-logo/whatsapp.svg' %}" alt="Whatsapp" <a href=""></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>TutorHub</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Natheem Mohamed - MSc Computing </a>
      </div>
    </div>
  </footer>
