{% load static %}


<footer class="footer">
    <div class="footer__content">
        <div class="footer__logo">
            <img src="{% static 'images/main-logo/puzzle1.png'%}" alt="Tutor Hub Logo">
            <div class="'footer__logo-text">
                <p> Unlock Your Learning Potential, One Session at a Time </p> 
            </div>
        </div>
        <div class="footer__about">
            <h3>About Tutor Hub</h3>
            <p>Discover a new world of personalized online tuition at the Online Tutor Hub. Our exceptional tutors are dedicated to providing tailored instruction that elevates grades and cultivates confidence. Experience a transformative learning environment that caters to your individual needs, helping you achieve academic excellence and unlock your full potential.</p>
        </div>
        <div class="foot__links">
            <p><a href="{% url 'register' %}">Become a Tutor</a></p>
        </div>
        <div class="footer__links-social">
            <div class="footer__social">
                <a href="#"> <img src="{% static 'images/footer-socials-logo/facebook.svg' %}" alt="Facebook"></a> 
                <a href="#"><img src="{% static 'images/footer-socials-logo/twitter.svg' %}" alt="Twitter"></a>
                <a href="#"><img src="{% static 'images/footer-socials-logo/instagram.svg' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'images/footer-socials-logo/whatsapp.svg' %}" alt="Whatsapp"></a>
            </div>
        </div>
    </div>
    
    <div class="footer__copyright">
        &copy; 2023 Tutor Hub. All rights reserved By Tutor Hub
    </div>
</footer>