{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="">
      <a class="header__logo" href="" > <img src="" alt="TutorHub Logo" />
      </a>
      
      <nav class="">
        <ul class="">
          <li class=""><a href="{% url 'tutor-profiles'  %}">Expert Tutors</a></li>
          <li class=""><a href="">Subjects </a></li>
          <li class=""><a href="">Become a Tutor</a></li>
          <li class=""><a href="{% url 'student-profiles' %}">Students</a></li>
          <li class=""><a href="">My Account</a></li>
          <li class=""><a href="" class="">Login/Sign Up</a></li>
        </ul>
      </nav>
    
    </div>
  </header>
  <p>"NavBar"</p>
  <hr> 