{% load static %}


<header class="header">
    <div class="container container--narrow">
      <a class="header__logo" href="{% url 'subjects' %}" > <img src="{% static 'images/main-logo/puzzle1.png'%}" alt="TutorHub Logo" />
      </a>
      
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'tutor-profiles'  %}">Expert Tutors</a></li>
          <li class="header__menuItem"><a href="{% url 'subjects' %}">Subjects </a></li>
          <li class="header__menuItem"><a href="">Become a Tutor</a></li>
          <li class="header__menuItem"><a href="{% url 'student-profiles' %}"> Fellow Students</a></li>
         
          

          {% if request.user.is_authenticated %}
           <li class="header__menuItem"><a href="{% url 'add-subject' %}"> Add Subjects</a></li>
           <li class="header__menuItem"><a href="">My Account</a></li>
          <li class="header__menuItem"><a href="{% url 'logout' %}" class="">Logout</a></li>
          <li class="header__menuItem"><a style="color: rgb(247, 246, 246);">Welcome, {{request.user.first_name|capfirst}}</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login' %}" class="">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    
    </div>
  </header>
  