{% extends 'main.html' %}
{% load static %}


{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a href="{% url 'student-account' %}"><img src="{% static 'images/default-image/previous.png' %}" style="max-width: 30px;"/></a>
            <br>
            <h6>Add the Subject your Interested In</h6>
            <form class="form" method="POST">
                {% csrf_token%}
                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                </div>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock content %}