{% extends 'main.html' %}


{% block content %}

{% if user.is_authenticated%}
{% if user.user_type == 'student'%}
<main class="profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <img class="avatar avatar--xl" src="{{studentObj.profile_image.url}}" />
            <h2 class="dev__name">{{studentObj.username}}</h2>
            <p class="dev__title">Goal: {{studentObj.short_goal}}</p>
            <p class="dev__location">Level: {{studentObj.Year_group}}</p>
            <p class="dev__location"> {{studentObj.preferred_availability}}</p>
            {% if request.user.studentprofile.id != studentObj.id  %}
            <a href="{% url 'create-message-students' studentObj.id  %}" class="btn btn--sub btn--lg">Send Message</a>
            {% endif %}
          </div>
        </div>

        <!-- Guardian/Parent Details Card  -->
        <div class="card text-center1">
          <div class="card__body dev">
            <img class="avatar avatar--xl2" src="{{studentObj.parent_pro_image.url}}" />
            <h5>Parent Contact Details</h5>
            <h2 class="dev__name">{{studentObj.parent_name}}</h2>
            <p class="dev__title">Email: {{studentObj.parent_email}}</p>
            <p class="dev__location">Contact Number: {{studentObj.parent_phone}}</p>
            <br>
            <!-- {% if request.user.studentprofile.id != studentObj.id %}
            <a href="#" class="btn btn--sub btn--lg">Send Message </a>
            {% endif %} -->
          </div>
        </div>
      </div>

      <div class="column column--2of3">
        <div class="devInfo">
          <h3 class="devInfo__title">About Me</h3>
          <p class="devInfo__about">{{studentObj.bio}}</p>
        </div>

        {% if studentObj.interested_subjects.all %}
        <div class="devInfo">
            <h3 class="devInfo__title">Subjects I'm Interested in</h3>
            <div class="devInfo__skills">
                {% for subject in studentObj.interested_subjects.all %}
                <div class="devInfo__otherSkillsss">
                    <span class="tag1 tag--pill tag--subii tag--lg">
                        <small>{{ subject.subject_name }}</small>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="devInfo">
            <h3 class="devInfo__title">No subjects added yet.</h3>
        </div>
        {% endif %}
      </div>
    </div>
  </div>



<div class="chat-widget minimized">
    <div class="chat__header">
        <div class="minimize-header">
            <button class="minimize-button">-</button>
            <p>Chat With {{studentObj.username}}</p>
        </div>
    </div>
    <div class="chat__content">
        <!-- Display chat messages here -->
        <!-- Example message: <div class="message">Hello!</div> -->
    </div>
    <div class="input">
        <input type="text" placeholder="Type a message...">
        <button class="send-button">Send</button>
    </div>
</div>



</main>
{% endif %}
{% endif %}


{% endblock content %}