{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tags tag--pill tag--mains settings__btn" href="{% url 'edit-saccount' %}"><img src="{% static 'images/default-image/editing.png' %}" style="max-width: 25px;"/></a>
              <img class="avatar avatar--xl dev__avatar" src="{{stuaccount.profile_image.url}}" />
              <h2 class="dev__name">{{stuaccount.username}}</h2>
              <p class="dev__title">{{stuaccount.short_goal}}</p>
              <!-- <p class="dev__location">Based in Florida, USA</p> -->
            </div>
          </div>
        
          <!-- Guardian/Parent Details Card  -->
        <div class="card text-center1">
          <div class="card__body dev">
            <a class="tagsp tag--pill tag--mains settings__btn" href="{% url 'edit-spaccount' %}"><img src="{% static 'images/default-image/editing.png' %}" style="max-width: 25px;"/></a>
            <img class="avatar avatar--xl1" src="{{stuaccount.parent_pro_image.url}}" />
            <h5>Parent Contact Details</h5>
            <h2 class="dev__name">{{stuaccount.parent_name}}</h2>
            <p class="dev__title">Email: {{stuaccount.parent_email}}</p>
            <p class="dev__location">Contact Number: {{stuaccount.parent_phone}}</p>
            <br>
            <!-- <a href="#" class="btn btn--sub btn--lg">Send Message </a> -->
          </div>
        </div>

        </div>

        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">{{stuaccount.bio}}</p>
          </div>

          <!-- <div class="settings">
            <h3 class="settings__title">Subjects Interested In</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{%  url 'add-interested-subject' %}"><i class="im im-plus"></i> Add More Subjects</a>
          </div>


        
            {% for subject in interested %}
            <div class="devInfo__otherSkillss">
              <span class="tag tag--pill tag--subi tag--lg">
                <small>{{subject.subject_name}}</small>
              </span>
            </div>
            {% endfor %} -->


            <div class="settings">
              <h3 class="settings__title">Subjects Interested In</h3>
              <a class="tag tag--pill tag--suba settings__btn tag--lga" href="{% url 'add-interested-subject' %}">
                <img src="{% static 'images/default-image/add.png' %}" style="max-width: 15px; margin-right: 1rem;"/> Add More Subjects
              </a>
          </div>
          
          {% if interested %}
          <div class="devInfo">
              <div class="devInfo__skills">
                  {% for subject in interested %}
                  <div class="devInfo__otherSkillsss">
                      <span class="tag1 tag--pill tag--subii tag--lg">
                          <small>{{ subject.subject_name }}</small>
                      </span>
                  </div>
                  {% endfor %}
              </div>
          </div>
          {% else %}
          <div class="devInfo">
              <h3 class="devInfo__title">No subjects added yet.</h3>
          </div>
          {% endif %}
          



          <!-- <table class="settings__table">
            {% for subject in interested %}
            <tr>
              <td class="settings__tableInfo">
                <h4>{{subject.subject_name}}</h4>
                <p>{{subject.subject_decsiption}}</p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>
            {% endfor %}
          </table> -->






          <!-- <div class="settings">
            <h3 class="settings__title">Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="#"><i class="im im-plus"></i> Add Project</a>
          </div>

          <table class="settings__table">

            <tr>
              <td class="settings__thumbnail">
                <a href="single-project.html"><img src="images/project-a.png" alt="Project Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="single-project.html">Yoga Studio Landing Page</a>
                <p>
                  Consectetur adipisicing elit. Natus nam dolore aut sed vitae eos architecto unde tempore
                  exercitationem fugiat?...
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr> -->

          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content  %}