/* Style for the navigation menu */
.header {
    height: 120px;
    background: linear-gradient(127deg, rgba(218, 229, 253, 0.54) 51.56%, rgba(255, 255, 255, 0.54) 100%);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.header__logo > img {
    max-width: 100px; 
}

.header__menu {
    display: flex;
    list-style: none;
    padding: -20;
    justify-content: flex-end;
    margin-top: -3%;
}

.header__menuItem {
    margin-right: 20px;
}

.header__menuItem:last-child {
    margin-right: 65px;
}


 /* Style for the footer Section */

 /* .footer {
    background: linear-gradient(127deg, rgba(218, 229, 253, 0.54) 51.56%, rgba(255, 255, 255, 0.54) 100%);
    padding: -400px 0;
} */

.footer {
    background-color: #333;
    color: #fff;
    padding: -220px 0; /* Adjust top and bottom padding to control the height */

}

.footer__content {
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.footer__logo {
    position: relative;
    display: flex;
    align-items: center;
}

.footer__logo p {
    max-width: 170px;
    margin-right: 16px;
    margin-left: 14px;
    font-size: 18px;
}

.footer__logo img {
    max-width: 90px;
}

.footer__about {
    flex: 1; /* Use flex to take remaining space */
    max-width: 400px; /* Adjust as needed */
}

.footer__about p {
    max-width: 550px;
    margin-right: 140px;
}

.footer__links-social {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.footer__social img {
    max-width: 100px;
    margin-right: 60px
}

.footer__copyright { 
    text-align: center;
    padding: 10px;
    background: linear-gradient(127deg, rgba(122, 158, 236, 0.54) 51.56%, rgba(255, 255, 255, 0.54) 100%);
    color: #fff;
    margin-top: 225px;
}