{% extends 'main.html' %}

{% block content %}



<div class="chat-widget">
    <div class="chat__header">
        <button class="minimize-button">-</button>
    </div>
    <div class="chat__content">
        <!-- Display chat messages here -->
        <!-- Example message: <div class="message">Hello!</div> -->
    </div>
    <div class="input">
        <input type="text" placeholder="Type a message...">
        <button class="send-button">Send</button>
    </div>
</div>

{% endblock content %}

