{% extends 'main.html' %}

{% block content   %}


{% if page == 'register' %}
<h1>Sign Up Now</h1>
<p>Already have an Account? <a href="{% url 'login' %}">Sign In</a></p>
{% else %}
<form action="{%  url 'login' %}" method="POST">
    {% csrf_token %}
    <input id="username" type="text" name="username" placeholder="Enter Email"/>
    <input id="password" type="password" name="password" placeholder="Enter Password"/>
    <input type="submit"  value="Login"/>

    <p>Don't have an Account? <a href="{% url 'register' %}">Sign Up Now</a></p>

</form>
{% endif %}


{% endblock content %}