{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- Main Section -->
<main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a  href="{% url 'inbox' %}"> <img src="{% static 'images/default-image/previous.png' %}" style="max-width: 35px;"/> </a>   
        <h2 class="message__subject">RE:{{message.subject}}</h4>
          <a href="profile.html" class="message__author">From: {{message.name}}</a>
          <p class="message__date">{{message.created}}</p>
          <div class="message__body">{{message.body|linebreaksbr}}</div>
          <br>
          <a href="{% url 'reply-message' message.id %}" class="btn btn--sub btn--lg">Reply</a>
      </div>
    </div>
</main>

{% endblock content %}