{% extends 'main.html' %}
{% load static %}

{% block content %}

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
  </style>

  <div class="signupcontainer">
    
    <img src="{% static 'images/main-logo/online-class.png'%}" style="max-width: 200px; margin-top: 2rem;"/>
    <h1> Tutor Hub</h1>
    <h2>Welcome to our platform!</h2>
    <p>Please choose your Path:</p>
    <a href="{%url 'register' %}" class="btn btn-outline-success" style="color: green;">I'm a Student</a>
    <a href="{% url 'register' %}" class="btn btn-outline-success" style="color: red;">I'm a Tutor</a>

    <div class="auth__alternative">
      <p>Already have an Account?</p>
      <!-- <a href="{% url 'login' %}">Log In</a> -->
      <button type="button" class="btn btn-outline-success"><a href="{% url 'login' %}">Log In</a></button>
    </div>
    
  </div>


{% endblock content %}
